<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            id="net.sf.pascaline.managedbuilder.ui.properties.Page_head_build"
            name="FreePascal Build">
         <filter
               name="projectNature"
               value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
         </filter>
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ITranslationUnit">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
      <page
            category="net.sf.pascaline.managedbuilder.ui.properties.Page_head_build"
            class="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings"
            id="net.sf.pascaline.managedbuilder.ui.properties.PageBuildSettings"
            name="Settings">
         <filter
               name="projectNature"
               value="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
         </filter>
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ICContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.cdt.core.model.ITranslationUnit">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>

</plugin>
